{
  "presets": [
    [
      "env",
    {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }
    ],
    "stage-2"
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
