# Node
node_modules/*
documentation/node_modules
npm-debug.log

# TypeScript
src/*.map

# JetBrains
.idea
.project
.settings

# VS Code
.vscode/*

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store


# Build files
dist/*
dist-example
/src/package-lock.json
/docs/_book
/docs/node_modules
/demo
/example/test/unit/coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
