<div
  class="snotifyToast animated"
  :class="['snotify-' + toast.config.type,
          state.animation, toast.valid === undefined ? '' : (toast.valid ? 'snotifyToast--valid' : 'snotifyToast--invalid')
          ]"
  :style="{
            '-webkit-animation-duration': toast.config.animation.time + 'ms',
            'animation-duration': toast.config.animation.time + 'ms',
            '-webkit-transition': toast.config.animation.time + 'ms',
            transition: toast.config.animation.time + 'ms'
          }"
  @click="onClick" @mouseenter="onMouseEnter" @mouseleave="onMouseLeave" @animationend="onExitTransitionEnd">
  <slot name="progressBar" v-if="toast.config.showProgressBar && toast.config.timeout > 0" :state="state">
    <div class="snotifyToast__progressBar">
      <span class="snotifyToast__progressBar__percentage" :style="{'width': (state.progress * 100) + '%'}"></span>
    </div>
  </slot>
  <div class="snotifyToast__inner" v-if="!toast.config.html">
    <slot name="inner" :toast="toast">
      <slot name="title" :toast="toast" v-if="toast.title">
        <div class="snotifyToast__title">{{toast.title | truncate(toast.config.titleMaxLength)}}</div>
      </slot>
      <slot name="body" :toast="toast" v-if="toast.body">
        <div class="snotifyToast__body">{{toast.body | truncate(toast.config.bodyMaxLength)}}</div>
      </slot>
      <slot name="prompt" :toast="toast" v-if="toast.config.type === state.promptType">
        <snotify-prompt :toast="toast">
        </snotify-prompt>
      </slot>
      <slot name="icon" :toast="toast">
        <div v-if="!toast.config.icon" :class="['snotify-icon', 'snotify-icon--' + toast.config.type]"></div>
        <div v-else>
          <img class="snotify-icon" :src='toast.config.icon'/>
        </div>
      </slot>
    </slot>
  </div>
  <div class="snotifyToast__inner" v-html="toast.config.html" v-else></div>
  <slot name="buttons" :toast="toast" v-if="toast.config.buttons">
    <snotify-button v-if="toast.config.buttons" :toast="toast"></snotify-button>
  </slot>
</div>
