/// Replace `$snotify-search` with `$snotify-replace` in `$snotify-string`
/// @author Hugo Giraudel
/// @param {String} $snotify-string - Initial string
/// @param {String} $snotify-search - Substring to replace
/// @param {String} $snotify-replace ('') - New value
/// @return {String} - Updated string
@function str-replace($snotify-string, $snotify-search, $snotify-replace: '') {
  $snotify-index: str-index($snotify-string, $snotify-search);

  @if $snotify-index {
    @return str-slice($snotify-string, 1, $snotify-index - 1) + $snotify-replace + str-replace(str-slice($snotify-string, $snotify-index + str-length($snotify-search)), $snotify-search, $snotify-replace);
  }

  @return $snotify-string;
}

@function -svg($snotify-svg, $snotify-color, $snotify-viewBox: '0 0 512 512') {
  $snotify-result: 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="#{$snotify-viewBox}" fill="#{$snotify-color}">#{$snotify-svg}</svg>';
  $snotify-result: str-replace($snotify-result, '%', '%25');
  $snotify-result: str-replace($snotify-result, '"', '%22');
  $snotify-result: str-replace($snotify-result, "'", '%27');
  $snotify-result: str-replace($snotify-result, ' ', '%20');
  $snotify-result: str-replace($snotify-result, '<', '%3C');
  $snotify-result: str-replace($snotify-result, '>', '%3E');
  $snotify-result: str-replace($snotify-result, '#', '%23');

  @return $snotify-result;
}

@function -generate-icons($snotify-colors-map) {
  @return (
    error: -svg(
      '<g><path d="M437,75A256,256,0,1,0,75,437,256,256,0,1,0,437,75ZM416.43,416.43a226.82,226.82,0,0,1-320.86,0C7.11,328,7.11,184,95.57,95.57a226.82,226.82,0,0,1,320.86,0C504.89,184,504.89,328,416.43,416.43Z"/><path d="M368.81,143.19a14.5,14.5,0,0,0-20.58,0L256,235.42l-92.23-92.23a14.55,14.55,0,0,0-20.58,20.58L235.42,256l-92.23,92.23a14.6,14.6,0,0,0,10.24,24.89,14.19,14.19,0,0,0,10.24-4.31l92.23-92.23,92.23,92.23a14.64,14.64,0,0,0,10.24,4.31,14,14,0,0,0,10.24-4.31,14.5,14.5,0,0,0,0-20.58l-92-92.23,92.23-92.23A14.5,14.5,0,0,0,368.81,143.19Z"/></g>',
      map-get($snotify-colors-map, error)
    ),
    warning: -svg(
      '<g><path d="M256,512c141.15,0,256-114.84,256-256S397.15,0,256,0,0,114.84,0,256,114.85,512,256,512Zm0-480.49c123.79,0,224.49,100.71,224.49,224.49S379.79,480.49,256,480.49,31.51,379.79,31.51,256,132.21,31.51,256,31.51Z"/><circle cx="260.08" cy="343.87" r="26.35"/><path d="M254.68,278.39a15.76,15.76,0,0,0,15.75-15.75V128.72a15.75,15.75,0,1,0-31.51,0V262.63A15.76,15.76,0,0,0,254.68,278.39Z"/></g>',
      map-get($snotify-colors-map, warning)
    ),
    info: -svg(
      '<g><path d="M256,0C114.84,0,0,114.84,0,256S114.84,512,256,512,512,397.16,512,256,397.15,0,256,0Zm0,478.43C133.35,478.43,33.57,378.64,33.57,256S133.35,33.58,256,33.58,478.42,133.36,478.42,256,378.64,478.43,256,478.43Z"/><path d="M251.26,161.24a22.39,22.39,0,1,0-22.38-22.39A22.39,22.39,0,0,0,251.26,161.24Z"/><path d="M286.84,357.87h-14v-160A16.79,16.79,0,0,0,256,181.05H225.17a16.79,16.79,0,0,0,0,33.58h14.05V357.87H225.17a16.79,16.79,0,0,0,0,33.57h61.67a16.79,16.79,0,1,0,0-33.57Z"/></g>',
      map-get($snotify-colors-map, info)
    ),
    success: -svg(
      '<g><path d="M256,0C114.85,0,0,114.84,0,256S114.85,512,256,512,512,397.16,512,256,397.15,0,256,0Zm0,492.31c-130.29,0-236.31-106-236.31-236.31S125.71,19.69,256,19.69,492.31,125.71,492.31,256,386.29,492.31,256,492.31Z"/><path class="cls-1" d="M376.64,151,225.31,321.24l-91.17-72.93a9.85,9.85,0,0,0-12.3,15.38l98.46,78.77a9.86,9.86,0,0,0,13.52-1.15L391.36,164.08A9.85,9.85,0,0,0,376.64,151Z"/></g>',
      map-get($snotify-colors-map, success)
    ),
    async: -svg(
      '<g><path d="M256,0a32,32,0,0,0-32,32V96a32,32,0,0,0,64,0V32A32,32,0,0,0,256,0Zm0,384a32,32,0,0,0-32,32v64a32,32,0,0,0,64,0V416A32,32,0,0,0,256,384ZM391.74,165.5,437,120.22A32,32,0,0,0,391.74,75L346.5,120.22a32,32,0,0,0,45.25,45.28Zm-271.52,181L75,391.74A32,32,0,0,0,120.22,437l45.25-45.25a32,32,0,0,0-45.25-45.25Zm0-271.52A32,32,0,1,0,75,120.22l45.25,45.28a32,32,0,1,0,45.25-45.28ZM391.74,346.5a32,32,0,0,0-45.25,45.25L391.74,437A32,32,0,0,0,437,391.74ZM480,224H416a32,32,0,0,0,0,64h64a32,32,0,0,0,0-64ZM128,256a32,32,0,0,0-32-32H32a32,32,0,0,0,0,64H96A32,32,0,0,0,128,256Z"/></g>',
      map-get($snotify-colors-map, async)
    )
  );
}
