$success: $success-border-color;
$info: $info-border-color;
$warning: $warning-border-color;
$error: $error-border-color;
$async: $async-border-color;

.snotify-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  line-height: 0;
  transform: translate(0, -50%);
  max-height: 48px;
  max-width: 48px;
}

.snotify-icon__error {
  fill: $error;
}

.snotify-icon__warning {
  fill: $warning;
}

.snotify-icon__info {
  fill: $info;
}

.snotify-icon__success {
  fill: $success;
}

.snotify-icon__async {
  fill: $async;
  animation: async 3s infinite linear;
  transform-origin: 50% 50%;
}


@keyframes async {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

